test/
app_deepseek_web/venv/
app_deepseek_web/preguntas_respuestas.db
AutoML/pycaret/classification/Classification.docx
AutoML/pycaret/classification/logs.log
AutoML/pycaret/venv/
AutoML/pycaret/classification/.ipynb_checkpoints/
ML/Proyecto_MLOps/nb/1_DEV/.ipynb_checkpoints
ML/Proyecto_MLOps/venv
