<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis Demográfico con DeepFace</title>
</head>
<body>
    <h1>Sube una imagen para analizar con DeepFace</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Subir Imagen">
    </form>

    {% if uploaded_image %}
        <h2>Imagen Subida:</h2>
        <img src="{{ uploaded_image }}" alt="Imagen subida" width="300">
        
        <h2>Resultados del Análisis:</h2>
        <pre>{{ demography | tojson }}</pre>
    {% endif %}
</body>
</html>
